@use "../../../styles/variables" as *;

.base-password-input {
  display: flex;
  flex-direction: column;
  gap: $space-sm;

  &__label {
    font-size: $font-md;
    font-weight: 600;
    color: $color-text-dark;
  }

  &__wrapper {
    position: relative;
  }

  &__field {
    width: 100%;
    box-sizing: border-box;

    height: $height-input;

    padding: 0 42px 0 $space-md;

    border: 1px solid $color-border;
    border-radius: $radius-sm;

    outline: none;

    font-size: $font-md;

    &:focus {
      border-color: $color-primary;
    }
  }

  &__toggle {
    position: absolute;

    right: $space-md;
    top: 50%;

    transform: translateY(-50%);

    border: none;
    background: transparent;

    cursor: pointer;

    color: $color-text-light;
  }
}
